.container {
  display: flex;
  padding: 0;
  font-size: 20px;
  align-items: center;
}
.mainNavItem {
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
}
.name {
  color: rgb(238, 99, 24);
  text-decoration: none;
  font-weight: 600;
  margin-right: 10px;
}
.avatar {
  margin-right: 6px;
}
